<mat-nav-list>
    
    <div class="logo py-4">
        <img src="../../../assets/logo_groupe.gif" alt="Company logo">
    </div>

    <mat-divider></mat-divider>

    <br>

    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon style="color: #1979da; font-size: x-large;">home</mat-icon> <span style="color: #0e57a1; font-size: large;  font-weight: bold;">Accueil</span>
    </a>

    <!-- <a mat-list-item routerLink="/dashboard">
        <mat-icon style="color: #1979da;">dashboard</mat-icon> <span style="color: #1979da;">Dashboard</span> 
    </a> -->

    <a mat-list-item style="color: #1979da;" routerLink="/testeur">
        <mat-icon style="color: #1979da; font-size: x-large;">persons</mat-icon><span style="color: #0e57a1; font-size: large;  font-weight: bold;">Testeur</span> 
    </a>

    <a mat-list-item routerLink="/perimetre">
        <mat-icon style="color: #1979da; font-size: x-large;">play_circle_filled</mat-icon> <span style="color: #0e57a1; font-size: large; font-weight: bold;">Périmètre</span> 
    </a>

    <!-- <a mat-list-item>
        <mat-icon style="color: white;">add</mat-icon> <span style="color: white;">Ajouter</span> 
    </a> -->

</mat-nav-list>